.editor-styles-wrapper .wp-block-mintchat-chat-button {
	cursor: default;
}

.mintchat-button__note {
	margin-top: 0.5em;
	font-size: 12px;
	font-style: italic;
	opacity: 0.75;
	overflow-wrap: anywhere;
}
